


  <%- include('head'); %>
  <script type="text/html" src="public/javascripts/script_javascript.js"></script>
  <main>
    <div class="logo-container">
      <div class="image-container">
        <img class="logo-main" id="logo-main-<%=tema%>" src="/images/<%=tema%>.png" alt="JS logo">
      </div>
    </div>

    <div class="temas-populares-container">
      <div class="temas-populares-titulo">
        <h1>Foro <%=tema%></h1>
      </div>
      <div class="temas-populares-preguntas-container">
        <div class="temas-populares-logo">
          <img id="logo-temas-populares" src="images/<%=tema%>.png" alt="JS logo">
        </div>
        <div class="temas-populares-preguntas">
          <a class="temas-populares-preguntas-link" href="#">
            <h2><%=question[0].title%></h2>
            <p><%=question[0].question_content%></p>
          </a>
        </div>
        <div class="temas-populares-fecha">
          <p><%=question[0].question_date%></p>
        </div>
      </div>
    </div>
  </main>
  <%- include('footer'); %>
